---
layout: layouts/page.njk
eleventyNavigation:
  key: Archive
  order: 6
title: Archive
---
<div><p>Traces archive du contenu francophone ayant trait au parkour, dont les plateformes et auteurs suivants:</p></div>
<ul>
  {%- for author in authors %}
  <li><a href="{{author.name | slugify}}">{{ author.name }}</a></li>
  {% endfor -%}
</ul>

{% set postslist = collections.archive | reverse%}
{% include "postslist.njk" %}