---
layout: layouts/page.njk
---
<link href="/pagefind/pagefind-ui.css" rel="stylesheet">
<div class="content">
  <script src="/pagefind/pagefind-ui.js"></script>
  <div id="search"></div>
  <script>
      window.addEventListener('DOMContentLoaded', (event) => {
          new PagefindUI({ element: "#search", showSubResults: true });
      });
  </script>
</div>
