---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - post
    - posts
    - tagList
    - bySize
    - archive
  addAllPagesToCollections: true
layout: layouts/home.njk
eleventyComputed:
  title: Tagged “{{ tag }}”
permalink: /tags/{{ tag | slugify }}/
---
<h1>Posts avec “{{ tag }}”</h1>

{% set postslist = collections[ tag ] | reverse%}
{% include "postslist.njk" %}

<p>Voir <a href="/tags/">tous les tags</a>.</p>