---
permalink: /tags/
layout: layouts/base.njk
eleventyNavigation:
  key: Sujets
  order: 3
---
<div class="container-tag-list">
  <ul class="all-tags-list">
    {% for tag in collections.posts | getAllTags | filterTagList %}
      {% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
      <li class="all-tags-item">
        <a href="{{ tagUrl }}" class="all-tags-link">{{ tag }}</a>
        <span class="all-tags-post-count">{{ collections[tag].length }} posts</span>
      </li>
    {% endfor %}
  </ul>
</div>