<ul class="tag-links">
  {% for tag in collections.all | getAllTags | filterTagList %}
    {% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
    <li class="tag-links-tag"><a href="{{ tagUrl }}">{{ tag }}</a>
    </li>
  {% endfor %}
  </ul>
  