<!doctype html>
<html lang="{{ metadata.language }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="generator" content="{{ eleventy.generator }}">
		<link rel="canonical" href="{{ page.url | htmlBaseUrl(metadata.url) }}">
		<title>{{ title or metadata.title }}</title>
		<meta name="description" content="{{ page.excerpt or description or metadata.description }}">
		<meta name="author" content="{{author or metadata.author.name}}">
		<link rel="alternate" href="/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">

		<meta property="og:url" content="{{ page.url | htmlBaseUrl(metadata.url) }}">
		<meta property="og:title" content="{{ title or metadata.title }}">
		<meta property="og:description" content="{{ page.exerpt or description or metadata.description }}">
		<meta property="og:image" content="{{ "/img/logo-socials.png" | htmlBaseUrl(metadata.url) }}">
		<meta property="og:type" content="blog">

		{#- Adds favicon to site #}
		<link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
		<link rel="manifest" href="/img/favicon/site.webmanifest">

		{#- Add CSS to the bundle and render Inlinded #}
		{%- css %}{% include "public/css/index.css" %}{% endcss %}
		<style>{% getBundle "css" %}</style>
	</head>
	<body>
		<a href="#skip" class="visually-hidden">Skip to main content</a>
		<header>
			{% include "header.njk" %}
		</header>

		<main id="skip">
			{{ content | safe }}
		</main>

		<footer>
			{% include "footer.njk" %}
		</footer>
	</body>
</html>
